<header class="bg-primary p-4">
  <nav class="flex content-center justify-center">
    <a routerLink="/" class="flex items-center space-x-3 mr-5">
      <img
        src="assets/images/icon_angular_gradient.png"
        class="h-8"
        alt="Logo"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >UI Angular</span
      >
    </a>

    <ul class="font-medium flex flex-row space-x-2">
      <li>
        <a routerLink="/" class="block py-2 px-3">Home</a>
      </li>
      <li>
        <a routerLink="/forms" class="block py-2 px-3">Forms</a>
      </li>
    </ul>
    <div class="ml-auto flex space-x-2">
      <p-button label="Sign In" severity="secondary" />
      <app-health-check />
    </div>
  </nav>
</header>
